.film-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  align-self: start;
  width: min(80%, 1024px);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background: utils.$color-navy;

  @include sp {
    width: 100%;
    aspect-ratio: 4 / 3;
    margin-top: 10dvh;
  }

  > .redirect {
    @extend %center-items-grid;

    position: absolute;
    inset: 0;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 0.5rem;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include sp {
      font-size: 1.2rem;
    }
  }

  &::before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background: utils.$color-navy-overlay-30;
    transition: all 0.5s ease-in-out;
  }

  @include hover {
    > .redirect {
      color: utils.$color-navy;
      letter-spacing: 0.7rem;
    }

    > :not(.redirect) {
      scale: 1.1;
    }

    &::before {
      opacity: 0;
    }
  }
}

.c-mark {
  position: absolute;
  top: -20%;
  right: 10%;
  display: block;

  path {
    fill: utils.$color-pink;
  }

  @include sp {
    left: -20%;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 30px;

  @include sp {
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
  }

  > .title {
    width: fit-content;
    margin-bottom: 40px;
    font-family: utils.$font-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    box-shadow: inset 0 -1px 0 0 #fff;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include hover {
      box-shadow: inset 0 -2.5rem 0 0 utils.$color-pink;
    }
  }

  > .description {
    font-size: 2rem;
    text-wrap: balance;
    letter-spacing: 0.1rem;
  }
}
