@use '~/styles/utils.scss';
@use '~/styles/mixins' as *;

.back-button {
  position: fixed;
  bottom: 5%;
  z-index: 500;
  width: 100%;
  text-align: center;

  @include pc() {
    top: 50%;
    bottom: unset;
    width: 30vw;
  }
}

.content-wrapper {
  width: calc(100% - 30vw);
  height: 100vh;
  margin-left: 30vw;
  overflow: auto;
  scroll-snap-type: y mandatory;

  @include sp() {
    width: 100%;
    margin-left: 0;
  }
}
