@use '~/styles/utils.scss';

.back-button {
  position: fixed;
  z-index: 500;
  width: 100%;
  text-align: center;
  
  @media screen and (min-width: utils.$sp-width) {
    top: 50%;
    width: 30vw;  
  }

  @media screen and (max-width: utils.$sp-width) {
    bottom: 5%;
  }
}

.content-wrapper {
  width: calc(100% - 30vw);
  height: 100vh;
  margin-left: 30vw;
  overflow: auto;
  scroll-snap-type: y mandatory;

  @media screen and (max-width: utils.$sp-width) {
    width: 100%;
    margin-left: 0;
  }
}
