.overall-wrapper {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.icons-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 65px;
}

.c-mark {
  animation: c-mark 3s ease-in-out infinite;
  animation-play-state: paused;
}

.c-mark:hover {
  animation-play-state: running;
}

@keyframes c-mark {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
