.main {
  width: 100%;
}

.overall-wrapper {
  @extend %center-items-grid;

  justify-content: center;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.icons-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 8%;
  width: min(80%, 80vw);
}

.c-mark > path {
  stroke: #fff;
  stroke-width: 2px;
}
