.content-wrapper {
  max-width: 700px;
  margin: 0 auto 80px;
}

.tabs {
  display: flex;
  align-items: flex-end;
  max-width: 700px;
  height: 140px;
  margin: 40px auto;

  @include sp {
    flex-direction: column;
    align-items: flex-start;
    height: unset;
    padding: 0 30px;
  }

  > .tab {
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: 'Zilla Slab', serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    @include sp {
      height: 40px;
      border-bottom: 1px solid utils.$color-pink;
    }

    &.-checked {
      padding-bottom: 10px;
      font-size: 10rem;
      opacity: 1;

      @include sp {
        max-width: unset;
        height: 52px;
        padding: 0 10px;
        overflow: visible;
        font-size: 6rem;
        border-bottom: 1px solid transparent;
      }
    }
  }

  > .tab > input {
    display: none;
  }
}
