@use '~/styles/utils.scss';
@use '~/styles/mixins' as *;

.post-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(50% - 1rem);
  padding: 1rem;
  background-color: utils.$color-navy;
  contain: paint;

  @include pc() {
    border: 1px solid utils.$color-bg;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0);

    &:hover {
      z-index: 100;
      border: 1px solid #fff;
      box-shadow: -10px 10px 0 0 utils.$color-pink;
      transform: translate(10px, -10px);
    }
  }

  .title-area {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .language-tag {
      padding: 0 0.5rem;
      margin: 0.3rem 0;
      font-size: 1.2rem;
      color: utils.$color-navy;
      white-space: nowrap;
      background-color: utils.$color-pink;
    }

    .title {
      width: 100%;
      font-size: 1.6rem;
    }
  }

  @include sp() {
    flex-basis: 100%;
    width: 100%;
    border-top: 1px solid #fff;
  }

  .date {
    font-size: 1.4rem;
  }

  &.new::after {
    position: absolute;
    bottom: -80px;
    left: -40px;
    z-index: -10;
    font-size: 6rem;
    content: '🍟';
    opacity: 0.5;
    transform: rotate(45deg);
  }
}
