@use '~/styles/utils.scss';

.card-wrapper {
  position: relative;
  flex: 1 0 100vw;
  height: 100vh;
  height: 100dvh;
  color: white;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  background-size: cover !important;
  scroll-snap-align: start;

  @media screen and (max-width: utils.$sp-width) {
    background-attachment: scroll !important;
  }

  > .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    backdrop-filter: blur(20px) saturate(1.5) brightness(0.5);

    @media screen and (min-width: utils.$sp-width) {
      flex-direction: row;
      gap: 20px;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 40px;
    }
  }
}

.film-rank {
  position: absolute;
  top: 250px;
  left: -20px;
  font-size: 10rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(0 0 0 / 0%);
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;

  @media screen and (min-width: utils.$sp-width) {
    top: -60px;
    left: -40px;
    font-size: 20rem;
  }
}

.poster-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);

  @media screen and (max-width: utils.$sp-width) {
    margin: 0 auto;
  }
}

.basic-info {
  > .overview {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
