.card-wrapper {
  position: relative;
  flex: 1 0 100%;
  font-size: 1.6rem;
  color: var(--color-text);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center center !important;
  background-size: cover !important;
  scroll-snap-align: start;

  > .contents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    backdrop-filter: blur(20px) saturate(1.5) brightness(0.5);

    @include pc {
      flex-direction: row;
      gap: 20px;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 40px;
    }
  }
}

.film-rank {
  position: absolute;
  top: 0;
  left: -40px;
  font-family: utils.$font-serif;
  font-size: 20rem;
  font-weight: 600;
  line-height: 1;

  @include sp {
    top: 200px;
    left: -20px;
    z-index: 1;
    font-size: 10rem;
  }
}

.poster-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);

  @include sp {
    width: 160px;
    height: 240px;
    margin: 0 auto;
  }
}

.basic-info {
  > .title {
    font-family: utils.$font-serif;
    font-size: 2.4rem;

    @include sp {
      font-size: 1.8rem;
    }
  }

  > .original {
    font-size: 1rem;
  }

  > .release,
  > .countries {
    font-family: utils.$font-serif;
    font-size: 1.4rem;
  }

  > .overview {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @include sp {
      display: none;
    }
  }
}
