@use '~/styles/utils.scss';

.table-wrapper {
  width: 100%;
  max-width: 520px;
  padding: 20px 0;
  overflow-x: scroll;
}

.table {
  width: 100%;
  white-space: nowrap;

  th {
    padding: 0 10px;
    border-bottom: utils.$color-pink 2px solid;
  }

  td {
    padding: 0 10px;
  }
}
