.cards-wrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;

  @include sp {
    flex-direction: column-reverse;
  }
}

.link-wrapper {
  width: 100%;
  white-space: pre-line;

  &.prev {
    text-align: left;
  }

  &.next {
    text-align: right;
  }
}
