.cards-wrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;

  @include sp {
    flex-direction: column-reverse;
  }
}

.link-wrapper {
  flex-basis: 50%;
  width: 100%;
  padding: 16px;
  white-space: pre-line;

  &.prev {
    text-align: left;
  }

  &.next {
    text-align: right;
  }

  .title {
    font-family: utils.$font-serif;
  }
}
