.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.link-wrapper {
  max-width: 300px;
  white-space: pre-line;

  &.prev {
    text-align: left;
  }

  &.next {
    text-align: right;
  }
}