@use '~/styles/utils.scss';
@use '~/styles/mixins' as *;

.content-wrapper {
  max-width: 700px;
  margin: 0 auto 80px;

  > .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
    width: 100%;

    @include sp {
      gap: 0;
    }
  }
}
