.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: linear-gradient(
    to right,
    transparent 40%,
    utils.$color-navy-overlay-50 100%
  );
  background-position: 100%;
  background-size: 300%;
  transition: all 0.3s ease-in-out;

  > * {
    text-shadow: 0 0 10px utils.$color-navy-overlay-50;
    user-select: none;
  }

  > .index {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 60px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }

  > :not(.index) {
    text-align: end;
  }

  > .name {
    font-size: 1.6rem;
    white-space: nowrap;
  }

  > .year {
    font-weight: 300;
  }

  > .year > .start {
    font-size: 1.6rem;
    font-weight: 300;
  }

  @include sp {
    padding: 10px;
  }
}

.card-wrapper {
  --n-of-cards: 4;

  position: relative;
  display: flex;
  flex: 0 1 calc(100% / var(--n-of-cards));
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  font-size: 2rem;
  border-radius: 16px;
  transition: all 0.5s ease-in-out;

  > .details > :not(.index) {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  > .image {
    position: relative;
    height: 100%;
    aspect-ratio: 16 / 9;
    transition: all 0.5s ease-in-out;

    // to set the image as background
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  // > .year {
  //   margin: 0 20px;
  //   font-size: 8rem;
  //   font-weight: 600;
  //   color: utils.$color-pink;
  // }

  // > .name {
  //   position: relative;
  //   z-index: 10;
  //   margin: 0 20px;
  //   font-size: 4rem;
  //   font-weight: 600;
  //   transition: all 0.1s ease;

  //   &:hover {
  //     color: utils.$color-pink;
  //     text-decoration: underline;
  //   }
  // }

  // > .details {
  //   position: relative;
  //   z-index: 10;
  //   margin: 0 20px;
  // }

  // > .border {
  //   position: absolute;
  //   top: 6rem;
  //   left: 23rem;
  //   width: calc(95% - 26rem);
  //   height: 0;
  //   border-top: 2px solid utils.$color-pink;
  //   border-right: 2px solid utils.$color-pink;
  //   transition: all 2s ease;

  //   @include sp {
  //     top: 10rem;
  //   }

  //   &.-in-view {
  //     height: calc(60% + 26rem);
  //     max-height: 70%;
  //   }
  // }

  // > .end-year {
  //   position: absolute;
  //   top: calc(60% + 16rem);
  //   right: 0;
  //   height: 0;
  //   overflow: hidden;
  //   transition: all 1s ease;
  //   transition-delay: 0.5s;

  //   &.-in-view {
  //     height: 200px;
  //   }
  // }

  &:hover {
    flex-basis: 50%;

    > .details {
      background-size: 100%;
    }

    > .details > * {
      opacity: 1;
    }

    > .details > .index {
      translate: -100% 0;

      @include sp {
        translate: 0 -200%;
      }
    }

    > .image {
      width: 100%;
    }
  }
}
