.group-wrapper {
  display: flex;
  align-items: center;

  > * {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.1s ease-out;
  }

  > *:nth-child(2) {
    transition-delay: 0.05s;
  }

  > *:nth-child(3) {
    transition-delay: 0.1s;
  }

  > *:nth-child(4) {
    transition-delay: 0.15s;
  }

  &.-hidden {
    visibility: hidden;

    > * {
      opacity: 0;
      transform: translateX(-2em);
    }
  }
}