.overall-wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.icons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 26px;
}

.c-mark {
  animation: c-mark 5s linear infinite;
}

@keyframes c-mark {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
