$shiningBlack: #060d03;
$shiningWhite: #fff;
$shiningShallow: #f2f2f2;
$shiningYellow1: #f2e205;
$shiningYellow2: #f2d857;
$shiningYellow3: #f2cb05;
$shiningShadowDefault: rgb(238 217 109 / 41%);

$color-bg: #132043;
$color-navy-bd: rgba(19 32 67 / 10%);
$color-navy: #132043;
$color-navy-light: #1f4172;
$color-pink: #f1b4bb;
$color-pink-light: #fdf0f0;
