$shining-black: #060D03;
$shining-white: #FFF;
$shining-shallow: #F2F2F2;
$shining-yellow-1: #F2E205;
$shining-yellow-2: #F2D857;
$shining-yellow-3: #F2CB05;
$shining-shadow-default: rgb(238 217 109 / 41%);
