@use 'sass:color';
@import 'https://fonts.googleapis.com/css2?family=Geologica:slnt,wght,CRSV,SHRP@-12..0,100..900,0..1,0..100&display=swap';
@import 'https://fonts.googleapis.com/css2?family=BioRhyme:wdth,wght@100..125,200..800&family=Rokkitt:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap';

:root {
  box-sizing: border-box;
  color-scheme: light dark;

  @include color-scheme(light) {
    --color-text: #150640;
    --color-tmp-name-1: #fdfbf8;
    --color-tmp-name-2: #f1e6e0;
    --color-tmp-name-3: #ff8f97;
    --color-tmp-name-4: #e44458;
    --color-tmp-name-5: #2e2364;
    --color-tmp-name-6: #150640;
  }

  @include color-scheme(dark) {
    --color-text: #fdfbf8;
    --color-tmp-name-1: #150640;
    --color-tmp-name-2: #2e2364;
    --color-tmp-name-3: #e44458;
    --color-tmp-name-4: #ff8f97;
    --color-tmp-name-5: #f1e6e0;
    --color-tmp-name-6: #fdfbf8;
  }
}

html {
  background-color: var(--color-tmp-name-1);
}

html,
body {
  margin: 0;
  font-family: utils.$font-sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: var(--color-text);
}

*,
::before,
::after {
  @include remove-scrollbar;

  box-sizing: inherit;
  margin: 0;
  line-height: inherit;
}

::selection {
  color: var(--color-tmp-name-1);
  background-color: var(--color-tmp-name-3);
}

button {
  font: inherit;
  background: none;
  border: 0;
}

code {
  font-family: utils.$font-monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.common-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top 30% left 5%,
    var(--color-tmp-name-3) 0%,
    var(--color-tmp-name-2) 30%,
    var(--color-tmp-name-1) 70%
  );
}

.common-background::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(
      0deg,
      transparent 80px,
      rgba(241 180 187 / 20%) 81px
    ),
    linear-gradient(90deg, transparent 80px, rgba(241 180 187 / 20%) 81px);
  background-position: center;
  background-size: 81px 81px;
}
