@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  line-height: inherit;
}

:root * {
  margin: 0;
}

code {
  font-family: 'Fira Code', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
