$breakpoint: 768px;

@mixin pc() {
  @media (min-width: $breakpoint + 1px) {
    @content;
  }
}

@mixin sp() {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin remove-scrollbar() {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
