@use 'sass:color';

/**
  * Colors
  */
$color-cool-december: #fdfbf8;
$color-siesta-sands: #f1e6e0;
$color-strawberry-foam: #ff8f97;
$color-tomato-scepter: #e44458;
$color-indie-go: #2e2364;
$color-abyssal-night: #150640;

// Backdrops
$color-strawberry-foam-10: rgba($color-strawberry-foam, 0.1);
$color-strawberry-foam-30: rgba($color-strawberry-foam, 0.3);
$color-strawberry-foam-60: rgba($color-strawberry-foam, 0.6);
$color-abyssal-night-50: rgba($color-abyssal-night, 0.5);

/**
  * Fonts
  */
$font-sans-serif: 'Geologica', 'IBM Plex Sans JP', sans-serif;
$font-serif: 'BioRhyme', 'IBM Plex Sans JP', serif;
$font-monospace: 'JetBrains Mono', monospace;
