.page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 60px 30px 0;
  font-family: utils.$font-serif;
}

.content-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.title-area {
  margin: 2rem 0;
  text-align: end;

  > .description {
    font-size: 1.5rem;
  }

  > .title {
    margin-top: 20px;
    font-size: 10rem;
    font-weight: 600;
    line-height: 1;
  }

  > .original {
    font-size: 2rem;
  }
}

.iframe-wrapper {
  width: 100%;

  > .iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
  }
}
