.overall-wrapper {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.icons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 26px;

  > *:focus {
    outline: none;
  }
}

.c-mark > path {
  stroke: #fff;
  stroke-width: 2px;
}
