.overall-wrapper {
  @extend %center-items-grid;

  position: fixed;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.icons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 26px;
  justify-content: center;
  height: 80%;

  > svg {
    width: 100%;
    object-fit: cover;
  }

  > *:focus {
    outline: none;
  }
}

.c-mark > path {
  stroke: #fff;
  stroke-width: 2px;
}
