@use '~/styles/utils.scss';
@use '~/styles/mixins' as *;

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;

  > .tag {
    position: relative;
    font-size: 1.4rem;
  }

  > .tag::before {
    margin-right: 3px;
    font-weight: 600;
    color: utils.$color-pink;
    content: '#';
  }

  > .tag::after {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: -100;
    display: block;
    width: 100%;
    height: 40%;
    content: '';
  }

  > .tag:hover::after {
    background-color: utils.$color-pink;
  }
}

.header {
  position: relative;
  overflow-x: hidden;

  > .title {
    position: relative;
    z-index: 100;
    max-width: 800px;
    padding: 10px 30px;
    margin: 30px auto;
    font-family: 'Zilla Slab', serif;
    font-size: 6rem;
    line-height: 1.2;

    @include sp {
      font-size: 4.5rem;
    }

    // &::before,
    // &::after {
    //   position: absolute;
    //   z-index: -1;
    //   display: block;
    //   font-family: monospace;
    //   font-size: 8rem;
    //   font-weight: 600;
    //   line-height: 1;
    //   color: utils.$color-pink;
    // }

    // &::before {
    //   top: -30px;
    //   left: -30px;
    //   content: '<h1>';
    // }

    // &::after {
    //   right: -20px;
    //   bottom: -10px;
    //   content: '</h1>';
    // }
  }

  > .date {
    max-width: 800px;
    padding: 0 30px;
    margin: 5px auto;
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    font-weight: 600;
  }
}

.main-wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 30px auto 120px;
  font-size: 1.6rem;
}
