@mixin rounded-wrapper($padding) {
  padding: $padding;
  overflow: hidden;
  border: 1px solid #fff2;
  border-radius: $padding;
}

%glass-effect {
  background: utils.$color-pink-bd;
  backdrop-filter: blur(10px);
  border: 1px solid #fff2;
  box-shadow: 0 0 20px 0 utils.$color-pink-bd;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  padding: 80px 10px 10px;
  overflow: auto;

  @include sp {
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 10px 60px;
  }
}

.title-image {
  @include rounded-wrapper(20px);

  grid-column: span 4;
  background: linear-gradient(
    30deg,
    utils.$color-pink,
    utils.$color-pink-light
  );
  box-shadow: 0 0 20px 0 utils.$color-pink-bd;

  @include sp {
    grid-column: span 6;
    height: 60px;
    border-radius: 20px 20px 0;
  }
}

.title-wrapper {
  @include rounded-wrapper(20px);
  @extend %glass-effect;

  grid-column: span 8;
  overflow: hidden;

  @include sp {
    grid-column: span 6;
  }
}

.section-title {
  @include rounded-wrapper(12px);
  @extend %glass-effect;

  grid-column: span 12;
  font-family: utils.$font-serif;
  font-size: 4rem;
  font-variation-settings: 'wdth' 125;
  font-weight: 800;
  line-height: 1;
  user-select: none;

  @include sp {
    grid-column: span 6;
    font-size: 3rem;
  }
}

.section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 12;
  gap: 10px;

  @include sp {
    grid-column: span 6;
  }
}

.films-section {
  height: fit-content;

  > .image {
    position: relative;
    display: grid;
    grid-column: span 5;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;

    > * {
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    @include sp {
      grid-column: span 6;
    }

    @include hover {
      > .thumbnail {
        scale: 1.1;
      }

      > .link {
        letter-spacing: 0.5rem;
      }
    }
  }

  > .image > .link {
    @extend %center-items-grid;

    position: absolute;
    inset: 0;
    z-index: 1;
    font-family: utils.$font-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 0 16px utils.$color-navy;
    letter-spacing: 0.2rem;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  > .image > .thumbnail {
    aspect-ratio: 5 / 3;

    @include sp {
      aspect-ratio: 3 / 1;
    }
  }
}

.film-des {
  @include rounded-wrapper(16px);

  display: flex;
  flex-direction: column;
  grid-column: span 7;
  justify-content: end;
  color: utils.$color-navy;
  text-align: right;
  background-color: utils.$color-pink-light;

  @include sp {
    grid-column: span 6;
  }

  > .film-title {
    font-family: utils.$font-serif;
    font-size: 2.5rem;
    font-weight: 800;
  }

  > .film-catch {
    font-size: 1.6rem;
    font-weight: 400;
    text-wrap: balance;
  }
}

.designs-section {
}

.design-link {
  @include rounded-wrapper(16px);
  @extend %glass-effect;

  font-size: 2rem;
  color: utils.$color-navy;

  > .numbering {
    padding-inline-end: 16px;
    font-family: utils.$font-serif;
  }

  > .title {
    font-family: utils.$font-serif;
    font-weight: 800;
  }

  &.aas {
    grid-column: span 8;
    background-color: utils.$color-pink;

    @include sp {
      grid-column: span 4;
    }
  }

  &.shp {
    grid-column: span 4;
    background-color: utils.$color-pink-light;

    @include sp {
      grid-column: span 2;
    }
  }

  &.ksk {
    grid-column: span 4;
    background-color: utils.$color-pink-light;

    @include sp {
      grid-column: span 2;
    }
  }

  &.akb {
    grid-column: span 8;
    background-color: utils.$color-pink;

    @include sp {
      grid-column: span 4;
    }
  }
}
