@mixin title-wrapper($padding) {
  padding: $padding;
  overflow: hidden;
  border: 1px solid #fff2;
  border-radius: $padding;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 80px 10px 10px;
  overflow: auto;
  scroll-snap-type: y mandatory;

  @include sp {
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
  }
}

.title-image {
  @include title-wrapper(20px);

  grid-column: span 4;
  background-color: utils.$color-pink;

  @include sp {
    grid-column: span 6;
  }
}

.title-wrapper {
  @include title-wrapper(20px);

  grid-column: span 8;
  overflow: hidden;

  @include sp {
    grid-column: span 6;
  }
}

.section-title {
  @include title-wrapper(12px);

  grid-column: span 12;
  font-family: utils.$font-serif;
  font-size: 4rem;
  font-variation-settings: 'wdth' 125;
  font-weight: 800;
  line-height: 1;
  user-select: none;

  @include sp {
    grid-column: span 6;
    font-size: 3rem;
  }
}

.section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 12;

  @include sp {
    grid-column: span 6;
  }
}

.films-section {
  height: fit-content;

  > .image {
    position: relative;
    display: grid;
    grid-column: span 5;
    aspect-ratio: 5 / 3;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;

    @include sp {
      grid-column: span 6;
      aspect-ratio: 3 / 1;
    }

    @include hover {
      > :not(.link) {
        scale: 1.1;
      }

      > .link {
        letter-spacing: 0.5rem;
      }
    }
  }

  > .image > .link {
    @extend %center-items-grid;

    position: absolute;
    inset: 0;
    z-index: 1;
    font-family: utils.$font-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 0 16px utils.$color-navy;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.designs-section {
  height: 1000px;
}
