@use '~/styles/utils.scss';
@use '~/styles/mixins' as *;

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  margin: 0 30px;

  > .tag {
    position: relative;
    font-size: 1.4rem;
  }

  > .tag::before {
    margin-right: 3px;
    font-weight: 600;
    color: utils.$color-pink;
    content: '#';
  }

  > .tag::after {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: -100;
    display: block;
    width: 100%;
    height: 40%;
    content: '';
  }

  > .tag:hover::after {
    background-color: utils.$color-pink;
  }
}

.header {
  position: relative;
  max-width: 700px;
  margin: 30px auto;
  overflow: visible;

  > .title {
    position: relative;
    z-index: 100;
    padding: 10px 30px;
    font-size: 6rem;
    line-height: 1.2;

    @include sp() {
      font-size: 4.5rem;
    }
  }

  &::before,
  &::after {
    position: absolute;
    // z-index: -100;
    display: block;
    font-family: monospace;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1;
    color: utils.$color-pink;
  }

  &::before {
    top: -5px;
    left: -30px;
    content: '<h1>';
  }

  &::after {
    right: -30px;
    bottom: 10px;
    content: '</h1>';
  }

  > .date {
    margin: 5px 30px;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.main-wrapper {
  max-width: 700px;
  padding: 0 30px;
  margin: 30px auto 120px;
  overflow-x: hidden;
  font-size: 1.6rem;
}

.content-wrapper {
  margin: 20px 0 60px;

  h2 {
    position: relative;
    margin: 40px 0 30px;

    &::before {
      position: absolute;
      top: -15px;
      left: -20px;
      z-index: -100;
      font-family: monospace;
      color: utils.$color-pink;
      content: '<h2>';
    }
  }

  h3 {
    position: relative;
    margin: 30px 0 20px;

    &::before {
      position: absolute;
      top: -10px;
      left: -20px;
      z-index: -100;
      font-family: monospace;
      color: utils.$color-pink;
      content: '<h3>';
    }
  }

  h4 {
    position: relative;
    margin: 20px 0 15px;

    &::before {
      position: absolute;
      top: -8px;
      left: -20px;
      z-index: -100;
      font-family: monospace;
      color: utils.$color-pink;
      content: '<h4>';
    }
  }

  p {
    margin: 15px 25px;

    @include sp() {
      margin: 15px 0;
    }
  }
  
  code {
    padding: 0;
    margin-inline: 5px;
    background-color: utils.$color-navy-light;
  }

  pre {
    padding: 10px;
    margin: 10px 0;
    overflow-x: auto;
    font-size: 85%;
    background-color: utils.$color-navy-light;
    border-radius: 3px;
  }

  blockquote {
    padding: 0 20px;
    margin: 20px;
    font-style: italic;
    color: utils.$color-pink-light;
    border-left: 5px solid utils.$color-pink;
  }

  hr {
    position: relative;
    width: 6px;
    height: 6px;
    margin: 50px auto;
    overflow: visible;
    background-color: utils.$color-pink;
    border: 0;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 1px);
      width: 30px;
      height: 2px;
      content: '';
      background-color: utils.$color-pink;
    }

    &::before {
      left: -40px;
    }

    &::after {
      right: -40px;
    }
  }

  :not(pre) > code {
    padding: 0 5px;
    font-size: 80%;
    border: 1px solid #e1e4e8;
  }

  a {
    position: relative;
    text-decoration: underline;

    &:hover {
      font-weight: 600;
    }
  }

  // a::after {
  //   position: absolute;
  //   bottom: 10%;
  //   left: 0;
  //   z-index: -100;
  //   display: block;
  //   width: 100%;
  //   height: 40%;
  //   content: '';
  // }

  // a:hover::after {
  //   background-color: utils.$color-pink;
  // }

  table {
    width: 100%;
  }

  th {
    padding: 0 10px;
    border-bottom: utils.$color-pink 2px solid;
  }

  td {
    padding: 0 10px;
  }

  ul {
    padding-left: 30px;

    > li {
      list-style-type: disclosure-closed;

      &::marker {
        color: utils.$color-pink;
      }
    }
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  iframe[src*='youtube.com'] {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
  }

  // FIXME: figure out why class name selector is not working
  nav {
    position: relative;
    z-index: 100;
    margin: 20px 10px 60px;
    overflow: visible;
    font-size: 1.4rem;
    color: utils.$color-pink-light;

    * {
      padding: 0 5px;
      list-style-type: none;
    }

    &:not(:has(ol > li)) {
      display: none;
    }
  }

  nav::after {
    position: absolute;
    bottom: -40px;
    z-index: -1;
    font-family: monospace;
    font-size: 10rem;
    font-weight: 600;
    line-height: 1;
    color: utils.$color-pink;
    content: 'Contents';
    opacity: 0.5;
  }
}
