@use '~/styles/utils.scss';

.image-wrapper {
  position: relative;
  display: grid;
  gap: 10px;
  place-items: center;
  width: 100%;
  height: fit-content;
  max-height: 500px;
  margin: 40px 0;
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

  &::before {
    position: absolute;
    bottom: -50px;
    left: calc(50% - 150px);
    z-index: -1;
    width: 300px;
    height: 300px;
    content: '';
    background-color: utils.$color-navy-light;
    border-radius: 50%;
    opacity: 0.5;
  }

  > .image {
    position: relative !important;
    width: unset !important;
    max-width: 100%;
    height: unset !important;
    max-height: 500px;
    margin: 0 auto;
  }

  &.loading {
    opacity: 0;
  }

  > .caption {
    font-style: italic;
  }
}
