.index-container {
  width: 100vw;
  height: 100vh;
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 5fr 4fr;
  }

  @media (max-width: 768px) {
    grid-template-rows: 5fr 4fr;
  }
}

.button-wrapper {
  @media (min-width: 768px) {
    grid-column: 2 / 3;
  }

  @media (max-width: 768px) {
    grid-row: 2 / 3;
  }
}


.index-background {
  position: absolute;
  top: 0;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/overlook-carpet.png');
  background-size: 10vw;

  > .blend {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    z-index: -50;
    background-color: black;
    mix-blend-mode: screen;
  }
}
