.index-container {
  width: 100vw;
  height: 100vh;
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-rows: 3fr 6fr 3fr;
    grid-template-columns: 6fr 7fr;
  }

  > .top {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
  } 

  > .bottom {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.welcome-wrapper {
  @media (min-width: 768px) {
    grid-column: 2 / 3;
  }

  @media (max-width: 768px) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}
