.link {
  font-family: utils.$font-serif;
}

.link:not(.-toc) {
  box-shadow: inset 0 -1px 0 0 utils.$color-strawberry-foam;
  transition: all 0.2s ease-in-out;

  @include hover {
    box-shadow: inset 0 -8px 0 0 utils.$color-strawberry-foam;
  }
}
