.toc-back-wrapper {
  position: sticky;
  top: 60px;
  z-index: 200;
  display: flex;
  flex-basis: 200px;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
  height: fit-content;
  max-height: 100dvh;
  padding: 10px 20px 30px;
  overflow: visible scroll;

  @include remove-scrollbar;

  @include sp {
    top: 20px;
    flex-basis: unset;
    justify-content: end;
    width: 100%;
    padding: 0;
    overflow: visible;
  }

  :global(.toc-wrapper) {
    z-index: 200;
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    font-size: 1.4rem;
    color: var(--color-tmp-name-5);

    > :global(.toc-level) {
      padding: 10px 10px 60px;

      @include sp {
        padding: 12px 20px 16px;
      }
    }

    &:not(:has(:global(.toc-item))) {
      display: none;
    }
  }
}

.toc-button {
  display: grid;
  align-self: flex-end;
  width: fit-content;
  padding: 12px;
  font-weight: 600;
  text-align: end;
  background: utils.$color-strawberry-foam-10;
  backdrop-filter: blur(10px);
  border: 1px solid #fff2;
  border-radius: 100px;
  box-shadow: 0 0 20px 0 utils.$color-strawberry-foam-10;

  > svg {
    width: 24px;
    height: 24px;
  }

  > svg > path {
    fill: var(--color-tmp-name-5);
  }

  @include pc {
    display: none;
  }
}

.toc-bar {
  @include sp {
    position: absolute;
    inset: calc(100% + 10px) 0 auto 0;
    z-index: 100;
    visibility: hidden;
    background: utils.$color-strawberry-foam-10;
    border: 1px solid #fff2;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 utils.$color-strawberry-foam-10;
    opacity: 0;
    transform-origin: top;
  }

  :global(.toc-level) {
    padding: 0;
  }

  :global(.toc-item) {
    position: relative;
    margin-top: 5px;
    list-style-type: none;
  }

  :global(.toc-item-h2::after),
  :global(.toc-item-h3::after) {
    position: absolute;
    top: 6px;
    width: 8px;
    height: 8px;
    content: '';
    border-radius: 50%;

    @include sp {
      display: none;
    }
  }

  :global(.toc-item-h2:hover::after),
  :global(.toc-item-h3:hover::after) {
    top: 0;
    width: unset;
    height: unset;
    color: var(--color-tmp-name-4);
    background-color: transparent;
    border: 0;
  }

  :global(.toc-item-h2:hover::after) {
    content: 'h2';
  }

  :global(.toc-item-h3:hover::after) {
    content: 'h3';
  }

  :global(.toc-item-h2) {
    font-weight: 600;
  }

  :global(.toc-item-h3) {
    font-weight: 300;
  }

  :global(.toc-item-h2::after) {
    right: -20px;
    background-color: var(--color-tmp-name-4);
    border-radius: 50%;
  }

  :global(.toc-item-h3::after) {
    right: -20px;
    border: 1px solid var(--color-tmp-name-4);
    border-radius: 50%;
  }

  :global(.toc-level-1) {
    width: 100%;
    height: fit-content;
  }
}
