.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: min(100%, 700px);
  padding: 12px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: utils.$color-pink-bd;
  backdrop-filter: blur(10px);
  border: 1px solid #fff2;
  border-radius: 100px;
  box-shadow: 0 0 20px 0 utils.$color-pink-bd;

  @include sp {
    top: unset;
    bottom: 0;
    width: fit-content;
    padding: 8px;
    font-size: 12px;
  }
}

.nav-items {
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.icons {
  height: 30px;
}

.c-mark-nav {
  height: 32px;

  .stroke {
    stroke: #fff;
    stroke-width: 1px;
  }
}

.text-link {
  position: relative;
}
