.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;

  @include pc {
    background: utils.$color-navy-bd;
    backdrop-filter: blur(10px);
  }

  @include sp {
    top: unset;
    bottom: 0;
    font-size: 12px;
    background: unset;

    &::after {
      position: absolute;
      top: -50%;
      left: calc(50% - 250px);
      z-index: -50;
      width: 500px;
      height: 500px;
      content: '';
      background: utils.$color-navy-bd;
      backdrop-filter: blur(10px);
      border-radius: 50%;
    }
  }
}

.nav-items {
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @include sp {
    max-width: 350px;
  }
}

.icons {
  height: 30px;

  @include sp {
    display: none;
  }
}

.c-mark-nav {
  height: 32px;

  .stroke {
    stroke: #fff;
    stroke-width: 1px;
  }

  @include pc {
    display: none;
  }
}

.text-link {
  position: relative;
  transition: all 0.3s ease;

  &::before {
    position: absolute;
    top: calc(50% - 5px);
    left: -10px;
    z-index: -1;
    display: none;
    width: calc(100% + 20px);
    height: 10px;
    content: '';
    background-color: utils.$color-pink;
  }

  &.-active::before {
    display: block;
  }

  &:not(.-active):hover::before {
    display: block;
    width: 0;
    animation: indicator 1.5s ease-in-out infinite;
  }

  @include sp {
    &::before,
    &.-active::before,
    &:not(.-active):hover::before {
      display: none;
    }
  }
}

@keyframes indicator {
  50% {
    width: calc(100% + 20px);
  }

  100% {
    width: 0;
  }

  // 0% {
  //   background: radial-gradient(
  //     circle at center,
  //     transparent 20%,
  //     utils.$color-pink 20%,
  //     utils.$color-pink 30%,
  //     transparent 30%
  //   );
  //   transform: scale(1);
  // }

  // 25% {
  //   background: radial-gradient(
  //     circle at center,
  //     transparent 40%,
  //     utils.$color-pink 40%,
  //     utils.$color-pink 50%,
  //     transparent 50%
  //   );
  //   transform: scale(1.25);
  // }

  // 50% {
  //   background: radial-gradient(
  //     circle at center,
  //     transparent 20%,
  //     utils.$color-pink 20%,
  //     utils.$color-pink 30%,
  //     transparent 30%,
  //     transparent 60%,
  //     utils.$color-pink 70%,
  //     utils.$color-pink 70%
  //   );
  //   transform: scale(1.5);
  // }

  // 75% {
  //   background: radial-gradient(
  //     circle at center,
  //     transparent 40%,
  //     utils.$color-pink 40%,
  //     utils.$color-pink 50%,
  //     transparent 50%,
  //     transparent 80%,
  //     utils.$color-pink 90%,
  //     utils.$color-pink 90%
  //   );
  //   transform: scale(1.25);
  // }

  // 100% {
  //   background: radial-gradient(
  //     circle at center,
  //     transparent 0,
  //     utils.$color-pink 10%,
  //     utils.$color-pink 20%,
  //     transparent 20%,
  //     transparent 60%,
  //     utils.$color-pink 60%,
  //     utils.$color-pink 70%,
  //     transparent 70%
  //   );
  //   transform: scale(1);
  // }
}
