@use 'src/styles/mixins' as *;

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;

  @include pc() {
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
  }

  @include sp() {
    top: unset;
    bottom: 0;
    font-size: 12px;
    background: unset;

    &::after {
      position: absolute;
      top: -50%;
      left: calc(50% - 250px);
      z-index: -50;
      width: 500px;
      height: 500px;
      content: '';
      background: rgb(255 255 255 / 20%);
      backdrop-filter: blur(10px);
      border-radius: 50%;
    }
  }
}

.nav-items {
  max-width: 700px;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 100;
  padding: 0;
  display: flex;
  list-style: none;

  @include sp() {
    max-width: 300px;
  }
}

.icons {
  height: 30px;

  @include sp() {
    display: none;
  }
}
