@use '~/styles/utils.scss';

.top-welcome {
  padding: 20px;

  > .text {
    font-size: 3rem;

    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }

  > .pattern {
    z-index: -50;
    background-image: url('../../../../assets/images/overlook-carpet.png');
    background-size: 150px;
  }

  > .rectangle {
    z-index: -100;
    background-color: utils.$shining-yellow-1;
  }

  > .pattern,
  > .rectangle {
    position: absolute;
    right: 0;
    bottom: 240px;
    width: 262px;
    height: 300px;

    @media (min-width: 768px) {
      right: calc(20% - 100px);
      width: 600px;
      height: 400px;
    }
  }
}
