.overall-wrapper {
  position: relative;
}

.internationality-button {
  background: none;
  border: 0;
}

.globe-icon {
  @include pc {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.language-dropdown {
  position: absolute;
  right: 200%;
  bottom: -100%;
  z-index: 200;
  padding: 40px;
  background: utils.$color-navy-bd;
  backdrop-filter: blur(10px);
  writing-mode: horizontal-tb;

  > .list {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    list-style-type: none;
  }

  > .list > .item {
    position: relative;

    &::before {
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 0.4em;
      height: 0.4em;
      content: '';
      background-color: transparent;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }

    &:hover::before {
      background-color: #000;
    }
  }
}
