@use '~/styles/utils.scss';

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;

  > .title {
    padding: 4rem 1rem;
  }

  > .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
    width: 100%;

    @media screen and (width <= 768px) {
      gap: 0;
    }
  }
}

.post-card {
  position: relative;
  z-index: 0;
  flex-basis: 50%;
  width: calc(50% - 1rem);
  padding: 1rem;
  background-color: white;
  contain: paint;

  @media screen and (width >= 768px) {
    border: 1px solid white;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0);

    &:hover {
      z-index: 100;
      border: 1px solid black;
      box-shadow: -10px 10px 0 0 utils.$shining-yellow-3;
      transform: translate(10px, -10px);
    }
  }

  @media screen and (width <= 768px) {
    flex-basis: 100%;
    width: 100%;
    border-top: 1px solid black;
  }

  .title {
    margin-bottom: 0.2rem;
    font-size: 1.2rem
  }

  .date {
    width: fit-content;
    padding: 0 0.5rem;
    color: white;
    background-color: utils.$shining-yellow-3;
  }

  &.-new::after {
    position: absolute;
    bottom: -80px;
    left: -40px;
    z-index: -10;
    font-size: 6rem;
    content: '🍟';
    opacity: 0.5;
    transform: rotate(45deg);
  }
}