.page-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  height: 100dvh;
  font-size: 1.6rem;

  > .content {
    display: grid;
    width: 400px;
    padding: 0 4rem;
  }

  > .content > .oops {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
  }

  > .content > .title {
    margin-bottom: 3rem;
    font-size: 12rem;
    font-weight: 600;
    line-height: 1;
  }

  > .content > .pathname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
