.blockquote {
  position: relative;
  padding: 0 0 0 60px;
  margin: 20px 0;
  font-style: italic;
  color: var(--color-tmp-name-5);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: utils.$font-serif;
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    color: var(--color-tmp-name-4);
    content: '\“';
  }

  > p {
    margin-right: 0;
    margin-left: 0;
  }
}
