@use '~/styles/utils.scss';

.main-wrapper {
  overflow-x: hidden;
  max-width: 800px;
  margin: 30px auto;

  > .title {
    position: relative;
    padding: 30px 30px;
  }

  > .title::before,
  > .title::after {
    position: absolute;
    display: block;
    line-height: 1;
    font-size: 8rem;
    z-index: -100;
    color: utils.$shining-yellow-2;
  }

  > .title::before {
    content: '/*';
    top: -10px;
    left: -5px;
  }

  > .title::after {
    content: '*/';
    bottom: -10px;
    right: 0;
  }

  > .date {
    margin: 0 20px;
  }
}

.tag-group {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.content-wrapper {
  margin: 20px;

  h2 {
    position: relative;
    margin: 20px 0 10px 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: -10px;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      z-index: -100;
      background-color: utils.$shining-yellow-2;
    }
  }

  h3 {
    margin: 15px 0 10px 0;
  }

  p {
    margin: 10px 0;
  }

  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    padding: 1.5em 1.5em;
    font-size: 85%;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
    overflow-x: auto;
  }

  blockquote {
    margin: 10px 0;
    padding: 5px 20px;
    border-left: 5px solid utils.$shining-yellow-2;
  }

  hr {
    margin: 50px 0;
    border: 1px solid utils.$shining-yellow-2;
  }
}
